{% extends 'base/base_main.html' %}

{% block title %} Home {% endblock title %}</title>

{% block context%}
			<section class="fondo_page">
				<article class="back_slide">
					<div id="slides">
						<ul class="slides-container">
							<li><img src="static/images/fondo01.png"></li>
{% comment %}				<li><img src="static/images/fondo02.png"></li>
							<li><img src="static/images/fondo03.png"></li>
							<li><img src="static/images/fondo04.png"></li>
{% endcomment %}
						</ul>
						<nav class="slides-navigation">
							<a href="#" class="prev">&#60</a>
							<a href="#" class="next">&#62</a>
						</nav>
					</div>
				</article>
			</section>
			<main class="info_content">
				<section class="main_info">
					<article class="info_banner">
						<h2 class="infobanner_titulo">Su mejor cita deportiva</h2>
						<h3 class="banner_text">en Mundo Sport</h3>
					</article>
					<section class="form_columns">
					<article class="info_columna">
						<img src="static/images/zapatos.jpg">
						<h4 class="info_titulo">Zapatos</h4>
						<p>La más amplia gama de zapatos deportivos, en todas las marcas, modelos, colores y tallas<br/><br/>
						</p>
					</article>
					<article class="info_columna">
						<img src="static/images/camisetas.jpg">
						<h4 class="info_titulo">Ropa deportiva</h4>
						<p>Todo lo relacionado ocn el mundo deportivo, solo en Mundo Sport.
						</p>
					</article>
					<article class="info_columna">
						<img src="static/images/articulos.jpg">
						<h4 class="info_titulo">Articulos deportivos</h4>
						<p>Las ultimas novedades del mercado deportivo las encuentra aqui</p>
					</article>
					</section>
				</section>
			</main>
{% endblock context %}

{% block js %}
{% endblock js %}
