<aside>
	<div class="menu_content">
		<div>
		{%comment%}
			<img class="foto_user" src="/static/images/placeholder300.png">
		{%endcomment%}
			<img class="foto_user" src="/static/images/siga.gif">
		</div><br>
		<div>
			<h1>Aplicaciones</h1>
		</div><br><br>
		<div>
			<td><a class="boton_aplicacion" href="{% url 'parametros:suc_panel' %}">Home</a></td>
		</div>
		<div>
			<td><a class="boton_aplicacion" href="{% url 'parametros:suc_panel' %}">Parametros</a></td>
		</div>
		<div>
			<td><a class="boton_aplicacion" href="{% url 'inventarios:div_panel' %}">Inventarios</a></td>
		</div>
		<div>
			<td><a class="boton_aplicacion" href="{% url 'comercial:ped_new' %}">Comercial</a></td>
		</div>
		<div>
			<td><a class="boton_aplicacion" href="{% url 'parametros:suc_panel' %}">Finanzas</a></td>
		</div>
		<div>
			<td><a class="boton_aplicacion" href="{% url 'parametros:suc_panel' %}">Reportes</a></td>
		</div> <br> <br>
	</div>
</aside>
