{% extends "base/base.html" %}

{% load staticfiles %}

{% block css %}
 	<link rel="stylesheet" href="{% static 'css/style.css' %}">
 	<link rel="stylesheet" href="{% static 'css/footer.css' %}">
 	<link rel="stylesheet" href="{% static 'css/fontello.css' %}">
{% endblock css %}

{% block content %}
	<div class="container">
		{% include 'base/aside.html' %}
		<div class="content">
			{% include 'comercial/nav_comercial.html' %}
			{% block context%}



			{% endblock context%}
		</div>
	</div>
{% endblock content %}

{% block footer %}
		{% include 'footer/footer.html' %}
{% endblock footer %}





{% block js %}
	<script src="{% static 'js/custom.js' %}"></script>
{% endblock js %}
