<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html, charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %} Document {% endblock title %}</title>
	{% block css %}{% endblock css %}
	{% block super %}{% endblock %}
</head>
<body>

	{% block header %}
	{% endblock header %}

	{% block content %}
	{% endblock content %}

	{% block footer %}
	{% endblock footer %}


	{% block js %}{% endblock js %}

</body>
</html>
