{% extends "base/base.html" %}

{% load staticfiles %}

{% block css %}
 	<link rel="stylesheet" href="{% static 'css/style.css' %}">
 	<link rel="stylesheet" href="{% static 'css/footer.css' %}">
 	<link rel="stylesheet" href="{% static 'css/fontello.css' %}">
 	<style type="text/css">
 		@font-face {
 			font-family: IDAutomationHC39M;
 			src: url({% static 'font/IDAutomationHC39M.woff' %});
 		}
 		.barcode {
 			font-family: IDAutomationHC39M;
 			font-size: 10px;
 		}
 		.w_talla{
 			width: 55px !important;
 		}

 	</style>
{% endblock css %}

{% block content %}
			{% block context%}


			{% endblock context%}
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block js %}
{% endblock js %}
