/*  |=======================================================|   */
/*  |                   Estilo de Impresion                 |   */
/*  |=======================================================|   */
@charset "utf-8";
@font-face {
    font-family: IDAutomationHC39M;
/*  src: url({% static 'font/IDAutomationHC39M.woff' %});  */
    src: url('../font/IDAutomationHC39M.woff');
    }

page {
    size: {{ pagesize|default:"A4" }};
    margin-left: 0.5cm;
    margin-right: 2.5cm;
    margin-top: 2.5cm;
    margin-bottom: 2cm;

    @frame header {
        -pdf-frame-content: page-header;
        margin-top: 0.7cm;
        margin-right: 2mm;
        margin-bottom: 0cm;
        margin-left: 1.2cm;
    }

    @frame footer {
        -pdf-frame-content: page-footer;
        bottom: 0cm;
        margin-left: 1cm;
        margin-right: 1cm;
        height: 1cm;
    }
}

.print_content
    {
    background-color: green;*/
    margin-left: -20px;
    margin-top: -10px;
    /*vertical-align: top;*/
    width: 540px;
    /*border: solid 1px;*/
    }
.print_item_cont
    {
/*    padding-left: 5px;
    background-color: yellow;
    height: 75px;*/
    vertical-align: top;
    }
.print_item
    {
    margin-left: 5px;
    font-size: 0.8em;
    border: solid 0px;
    padding-left: 22px;
    }
.barcode
    {
    font-family: IDAutomationHC39M;
    font-size: 1.2em;
    /* height: 5px; */
    padding-left: 15px;
    }
.print_head
    {
    /*height: 0.8em;*/
    }
.print_algn_left
    {
    /*text-align: right;*/
    }
.print_with_text
    {
    font-weight: 5em;
    }
/*
    body {
    font-weight: 200;
    font-size: 14px;
    }
    .header {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    color: #007cae;
    }
    .title {
    font-size: 22px;
    font-weight: 100;
    /* text-align: right;*/

/*
    padding: 10px 20px 0px 20px;
    }
    .title span {
    color: #007cae;
    }
    .details {
    padding: 10px 20px 0px 20px;
    text-align: left !important;
    /*margin-left: 40%;*/
/*    }

/*
    .hrItem {
    border: none;
    height: 1px;
    /* Set the hr color */
/*    color: #333; /* old IE */
/*    background-color: #fff; /* Modern Browsers */
/*    }
