{% extends 'base/base_parametros.html' %}

{% block title %} Crear Ciudad {% endblock title %}</title>

			{% block context%}
			<div class="crea_content">
				<h3 class="crea_proceso">Parametros:Ciudad</h3>
				<a class="icon-reply crea_boton" href="{% url 'parametros:ciu_panel' %}">Volver</a>

			</div>
			<div>
				<form method="POST" enctype="multipart">{% csrf_token %}
					<div class="form_content">
						<div class="form_titulo"><h1>Crear Ciudad</h1></div>
						<div class="form_esc">
							<a class="icon-cancel" href="{% url 'parametros:ciu_panel' %}"></a>
						</div>
						{% if forms.error %}
							<div class="form_errors" role="alert">
								{{ form.error }}
							</div>
						{% endif %}
						<div class="form_row"><div class="form_label"><label for="{{form.ciu_country.name}}">{{form.ciu_country.label}}</label></div><div class="form_widget">{{form.ciu_country}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.ciu_estados.name}}">{{form.ciu_estados.label}}</label></div><div class="form_widget">{{form.ciu_estados}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.ciu_nombres.name}}">{{form.ciu_nombres.label}}</label></div><div class="form_widget">{{form.ciu_nombres}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.ciu_abrevia.name}}">{{form.ciu_abrevia.label}}</label></div><div class="form_widget">{{form.ciu_abrevia}}</div></div>
						<br><br>
						<div ><button class="icon-database form_submit" type="submit">  Guardar  </button></div>
						<br>
					</div>
				</form>
			</div>
		{% endblock context%}