			<div>
				<nav class="nav">
					<ul class="menu">
						<li class="menus-link"><a class="boton-xx" href="{% url 'parametros:suc_panel' %}">Sucursales</a></li>
						<li class="menus-link"><a class="boton-xx" href="{% url 'parametros:zip_panel' %}">Códg.Postal</a></li>
						<li class="menus-link"><a class="boton-xx" href="{% url 'parametros:ciu_panel' %}">Ciudad</a></li>
						<li class="menus-link"><a class="boton-xx" href="{% url 'parametros:pvi_panel' %}">Provincia</a></li>
						<li class="menus-link"><a class="boton-xx" href="{% url 'parametros:pai_panel' %}">Pais</a></li>
					</ul>
				</nav>
			</div>