{% extends 'base/base_parametros.html' %}

{% block title %} Modifica Provincia {% endblock title %}</title>

			{% block context%}
			<div class="crea_content">
				<h3 class="crea_proceso">Parametros:Provincias</h3>
				<a class="icon-reply crea_boton" href="{% url 'parametros:pvi_panel' %}">Volver</a>

			</div>
			<div>
				<form method="POST" enctype="multipart">{% csrf_token %}
					<div class="form_content">
						<div class="form_titulo"><h1>Modifica Provincia</h1></div>
						<div class="form_esc">
							<a class="icon-cancel" href="{% url 'parametros:pvi_panel' %}"></a>
						</div>
						{% if forms.error %}
							<div class="form_errors" role="alert">
								{{ form.error }}
							</div>
						{% endif %}
						<div class="form_row"><div class="form_label"><label for="{{form.est_country.name}}">{{form.est_country.label}}</label></div><div class="form_widget">{{form.est_country}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.est_detalle.name}}">{{form.est_detalle.label}}</label></div><div class="form_widget">{{form.est_detalle}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.est_abrevia.name}}">{{form.est_abrevia.label}}</label></div><div class="form_widget">{{form.est_abrevia}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.est_capital.name}}">{{form.est_capital.label}}</label></div><div class="form_widget">{{form.est_capital}}</div></div>
						<br><br>
						<div ><button class="icon-database form_submit" type="submit">  Guardar  </button></div>
						<br>
					</div>
				</form>
			</div>
		{% endblock context%}