			<footer id="footer_content">
				<section id="fields_content">
					<article class="footer_fields">
						<p>
							<h2>Mundo Sport</h2> 
							Un mundo moderno<br />
							en zapatos deportivos<br />
							y ropa sport<br>
						</p>
					</article>
					<article class="footer_fields">
						<p>	<h2> Contacto </h2>
							Email: mundosportec@gmail.com<br />
							Celular: 0999883621
							Officina: 0999416857
		
							PO BOX XXX<br />
        	    	   		Vinces - Ecuador<br />
        	   			</p>
					</article>
					<article class="footer_fields">
						<h2>Social</h2> 
						<div class="footer_sociales">
							<a class="icon-facebook"  href=""></a><br/>
							<a class="icon-twitter"   href=""></a><br/>
							<a class="icon-youtube" href=""></a><br/>
						</div>	
					</article>
				</section>
				<section id="footer_rights">
					<article>
						<p>
						Copyright &copy; 2016-2017. Mundo Sport/Vinces. All Rights Reserved. &nbsp;&nbsp; Design: <a href="http://www.proysistem.com" target="_blank">proysistem</a>
						</p>
					</article>
				</section>		
						
			</footer>