{% extends 'base/base_comercial.html' %}

{% block title %} Panel de cOMPRAS {% endblock title %}</title>

{% block context %}

            <div class="crea_content">
                <h3 class="crea_proceso">Comercial:  Compras</h3>
                <a class="icon-database crea_boton" href="{% url 'comercial:ing_new' %}">Ingresos</a>

            </div>
            <form id="form_search" name="form_search" method="POST" action="{% url 'comercial:com_search' %}">{% csrf_token %}
                <input type="hidden" name="fnd_templat" value="COMP">
                <input type="text" name="fnd_myfound" id="fnd_idfound" />
                <input type="submit" name="enviar" id="enviar" value="Buscar" />
            </form>
            <div>
                <table border="1" >
                    <thead>
                        <tr color="#:000066">
                            <th class="head_tab">N.INGRESO</th>
                            <th class="head_tab">FACTURA DE PROVEEDOR</th>
                            <th class="head_tab">FECHA DE FACTURA</th>
                            <th class="head_tab">CAJA</th>
                            <th class="head_tab">CAJERA</th>
                            <th class="head_tab">PROVEED</th>
                            <th class="head_tab">VENDED.</th>
                            {% comment %}
                            <th class="head_tab">MONEDA</th>
                            <th class="head_tab">COTIZ.</th>
                            {% endcomment %}
                            <th class="head_tab">TOT.ITMS</th>
                            <th class="head_tab">SUBTOT</th>
                            <th class="head_tab">DSCTOS</th>
                            <th class="head_tab">RCARGO</th>
                            <th class="head_tab">TRANSP</th>
                            <th class="head_tab">ARACEL</th>
                            <th class="head_tab">I.V.A.</th>
                            <th class="head_tab">PAGO EFECT.</th>
                            <th class="head_tab">PAGO CHEQUE</th>
                            <th class="head_tab">PAG. T/CRED</th>
                            <th class="head_tab">CREDIT. PERSONAL</th>
                            <th class="head_tab">OTR.FORM. PAGO</th>
                        </tr>
                    </thead>
                    <tbody border="0">
                        {% if object_list %}
                        {% for var_comfield in object_list %}
                        <tr>
                            <td class="columns_tab align_tex_left"> {{ var_comfield.com_ningres }}</td>
                            <td class="columns_tab align_tex_right"> {{ var_comfield.com_facprov }}</td>
                            <td class="columns_tab align_tex_left"> {{ var_comfield.com_fechcom }}</td>
                            <td class="columns_tab align_tex_left"> {{ var_comfield.com_cajanum }}</td>
                            <td class="columns_tab align_tex_left"> {{ var_comfield.com_cajeras }}</td>
                            <td class="columns_tab align_tex_left"> {{ var_comfield.com_proveed }}</td>
                            <td class="columns_tab align_tex_left"> {{ var_comfield.com_vendedo }}</td>
                            {% comment %}
                            <td class="columns_tab align_tex_left"> {{ var_comfield.com_monedas }}</td>
                            <td class="columns_tab align_tex_right">{{ var_comfield.com_cotizac |default:''|stringformat:"0.2f" }}</td>
                            {% endcomment %}
                            <td class="columns_tab align_tex_right">{{ var_comfield.com_totitms |default:''|stringformat:"0.2f" }}</td>
                            <td class="columns_tab align_tex_right">{{ var_comfield.com_totvlor |default:''|stringformat:"0.2f" }}</td>
                            <td class="columns_tab align_tex_right">{{ var_comfield.com_totdsct |default:''|stringformat:"0.2f" }}</td>
                            <td class="columns_tab align_tex_right">{{ var_comfield.com_totrkrg |default:''|stringformat:"0.2f" }}</td>
                            <td class="columns_tab align_tex_right">{{ var_comfield.com_totflet |default:''|stringformat:"0.2f" }}</td>
                            <td class="columns_tab align_tex_right">{{ var_comfield.com_totaran |default:''|stringformat:"0.2f" }}</td>
                            <td class="columns_tab align_tex_right">{{ var_comfield.com_tottaxs |default:''|stringformat:"0.2f" }}</td>
                            <td class="columns_tab align_tex_right">{{ var_comfield.com_pgoefec |default:''|stringformat:"0.2f" }}</td>
                            <td class="columns_tab align_tex_right">{{ var_comfield.com_pgocheq |default:''|stringformat:"0.2f" }}</td>
                            <td class="columns_tab align_tex_right">{{ var_comfield.com_pgotjcr |default:''|stringformat:"0.2f" }}</td>
                            <td class="columns_tab align_tex_right">{{ var_comfield.com_pgocred |default:''|stringformat:"0.2f" }}</td>
                            <td class="columns_tab align_tex_right">{{ var_comfield.com_otropgo |default:''|stringformat:"0.2f" }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <h4> No hay registros en Compras </h4>
                        {% endif %}
                    </tbody>
                </table>
                <div class="page_content">
                    <ul class="pager_botons">
                        <li>
                            {% if page_obj.has_previous %}
                            <a class="icon-left-open pager_prev" href="?page={{page_obj.previous_page_number}}">Previous</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if page_obj.has_next %}
                            <a class="pager_next" href="?page={{page_obj.next_page_number}}">Next <span class="icon-right-open"></span></a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
{% endblock context %}
