{% extends 'base/base_comercial.html' %}

{% block title %} Graba Facturas {% endblock title %}</title>

			{% block context%}
			<div class="crea_content">
				<h3 class="crea_proceso">Comercial:  Facturación</h3>
				<a class="icon-reply crea_boton" href="{% url 'comercial:fac_panel' %}">Volver</a>

			</div>
			<div>
				<form method="POST" enctype="multipart">{% csrf_token %}
					<div class="form_content">
						<div class="form_titulo"><h1>Graba Facturas</h1></div>
						<div class="form_esc">
							<a class="icon-cancel" href="{% url 'comercial:fac_panel' %}"></a>
						</div>
						{% if forms.error %}
							<div class="form_errors" role="alert">
								{{ form.error }}
							</div>
						{% endif %}
						<div class="form_row"><div class="form_label"><label for="{{form.mvi_motivos.name}}">{{form.mvi_motivos.label}}</label></div><div>{{form.mvi_motivos}}</div></div>
						<div>
							<fieldset>
								<div class="form_row_all">
									<div class="width_010"><label for="{{form.fac_cliente.name}}">{{form.fac_cliente.label}}</label></div>
									<div class="form_widget width_025">{{ form.fac_cliente }}</div>
									<div class="width_040">&nbsp;</div>
									<div class="width_015 align_tex_right"><label for="{{form.fac_idfactu.name}}">{{form.fac_fechfac.label}}</label></div>
									<div class="form_widget width_010">{{ form.fac_fechfac }} </div>
								</div >
								<div class="form_row_all">
									<div class="width_010"><label for="{{form.fac_cliente.name}}">{{ form.fac_vendedo.label }}</label></div>
									<div class="form_widget width_025">{{ form.fac_vendedo }} </div>
									<div class="width_040">&nbsp;</div>
									<div class="width_015 align_tex_right"><label for="{{form.fac_idfactu.name}}">{{form.fac_mvinven.label}}</label></div>
									<div class="form_widget width_010">{{ form.fac_mvinven }}</div>
							</fieldset>
						</div>
<!--
						<div class="form_row"><div class="form_label"><label for="{{form.jgo_divisio.name}}">{{form.fac_cliente.label}}</label></div><div>{{form.fac_cliente}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.jgo_idtalla.name}}">{{form.fac_vendedo.label}}</label></div><div>{{form.fac_vendedo}}</div></div>
=-->
						<div>
							<table border="0" >
								<thead border="1"> 
								 	<tr color="#:000066" class="width_100">
								 		<th class="head_tab width_010">Producto</th>
								 		<th class="head_tab width_025" colspan="3">Detalle</th>
								 		<th class="head_tab width_010">Cantidad</th>
								 		<th class="head_tab width_005">Und.</th>
								 		<th class="head_tab width_010">Precio</th>
								 		<th class="head_tab width_005">Dscto.</th>
								 		<th class="head_tab width_005">IVA</th>
								 		<th class="head_tab width_010">Valor</th>
								 	</tr>
								</thead>
								<tbody border="1">
								 	<tr>
										<td class="columns_tab">{{ form.mvi_product }} </td>
										<td class="columns_tab" colspan="3">{{ form.prd_detalle }} </td>
						{% comment %}
										<td class="columns_tab">{{ form.mvi_talla01 }} </td>
										<td class="columns_tab">{{ form.mvi_talla02 }} </td>
										<td class="columns_tab">{{ form.mvi_talla03 }} </td>
										<td class="columns_tab">{{ form.mvi_talla04 }} </td>
										<td class="columns_tab">{{ form.mvi_talla05 }} </td>
										<td class="columns_tab">{{ form.mvi_talla06 }} </td>
										<td class="columns_tab">{{ form.mvi_talla07 }} </td>
										<td class="columns_tab">{{ form.mvi_talla08 }} </td>
										<td class="columns_tab">{{ form.mvi_talla09 }} </td>
										<td class="columns_tab">{{ form.mvi_talla10 }} </td>
										<td class="columns_tab">{{ form.mvi_talla11 }} </td>
										<td class="columns_tab">{{ form.mvi_talla12 }} </td>
										<td class="columns_tab">{{ form.mvi_talla13 }} </td>
									<td class="columns_tab">Tall-n</td>
									<td class="columns_tab">Tall-n</td>
									<td class="columns_tab">Tall-n</td>
									<td class="columns_tab">Tall-n</td>
									<td class="columns_tab">Tall-n</td>
									<td class="columns_tab">Tall-n</td>
									<td class="columns_tab">Tall-n</td>
									<td class="columns_tab">Tall-n</td>
									<td class="columns_tab">Tall-n</td>
									<td class="columns_tab">Tall-n</td>
									<td class="columns_tab">Tall-n</td>
									<td class="columns_tab">Tall-n</td>
									<td class="columns_tab">Tall-n</td>
									<td class="columns_tab">TOTALES</td>
						{% endcomment %}

										<td class="columns_tab">{{ form.mvi_kntidad }} onChange="calculos(this.value);"</td>
										<td class="columns_tab">{{ form.mvi_unidade }} </td>
										<td class="columns_tab">{{ form.mvi_precios }} </td>
										<td class="columns_tab">{{ form.mvi_desctos }} </td>
						{% comment %}
									<!--<td class="columns_tab">{{ form.mvi_rcargos }} </td>
										<td class="columns_tab">{{ form.mvi_deliver }} </td>
										<td class="columns_tab">{{ form.mvi_arancel }} </td>
									-->
										<td class="columns_tab">{{ valor }} </td>
						{% endcomment %}
										<td class="columns_tab">{{ form.mvi_impuest }} </td>
										<td class="columns_tab"><a href="{% url 'comercial:fac_new' %}">"{{ valor }} "</a></td>
									</tr>
								</tbody>
								<tr>
								</tr>
								<tr>
									<td class="columns_tab" colspan="2">Formas de pago:</td>
									<td class="columns_tab">{{form.fac_pgoefec.label}}</td>
									<td class="columns_tab">{{ form.fac_pgoefec }} </td>
									<td class="columns_tab">{{ form.fac_totitms }} </td>
									<td class="columns_tab">{{form.fac_totitms.label}}</td>
									<td class="columns_tab align_tex_right" colspan="3">{{form.fac_totvlor.label}}</td>
									<td class="columns_tab">{{ form.fac_totvlor }} </td>
								</tr><br>
								<tr>
									<td class="columns_tab" colspan="2"></td>
									<td class="columns_tab">{{form.fac_pgocheq.label}}</td>
									<td class="columns_tab">{{ form.fac_pgocheq }} </td>
									<td class="columns_tab" colspan="2"></td>
									<td class="columns_tab align_tex_right" colspan="3">{{form.fac_totdsct.label}}</td>
									<td class="columns_tab">{{ form.fac_totdsct }} </td>
								</tr>
								<tr>
									<td class="columns_tab">{{form.fac_monedas.label}}</td>
									<td class="columns_tab">{{ form.fac_monedas }} </td>
									<td class="columns_tab">{{form.fac_pgotjcr.label}}</td>
									<td class="columns_tab">{{ form.fac_pgotjcr }} </td>
									<td class="columns_tab" colspan="2"></td>
									<td class="columns_tab align_tex_right" colspan="3">{{form.fac_totrkrg.label}}</td>
									<td class="columns_tab">{{ form.fac_totrkrg }} </td>
								</tr>
								<tr>
									<td class="columns_tab">{{form.fac_cotizac.label}}</td>
									<td class="columns_tab">{{ form.fac_cotizac }} </td>
									<td class="columns_tab">{{form.fac_pgocred.label}}</td>
									<td class="columns_tab">{{ form.fac_pgocred }} </td>
									<td class="columns_tab" colspan="2"></td>
									<td class="columns_tab align_tex_right" colspan="3">{{form.fac_totaran.label}}</td>
									<td class="columns_tab">{{ form.fac_totaran }} </td>
								</tr>
								<tr>
									<td class="columns_tab">{{form.fac_cajanum.label}}</td>
									<td class="columns_tab">{{ form.fac_cajanum }} </td>
									<td class="columns_tab">{{form.fac_otropgo.label}}</td>
									<td class="columns_tab">{{ form.fac_otropgo }} </td>
									<td class="columns_tab" colspan="2"></td>
									<td class="columns_tab align_tex_right" colspan="3">{{form.fac_tottaxs.label}}</td>
									<td class="columns_tab">{{ form.fac_tottaxs }} </td>
								</tr>
								<tr>
									<td class="columns_tab">{{form.fac_cajeras.label}}</td>
									<td class="columns_tab">{{ form.fac_cajeras }} </td>
									<td class="columns_tab"><label>TOTAL </label>
									<td class="columns_tab">{{ form.totpago }} </td>
									<td class="columns_tab" colspan="2"></td>
									<td class="columns_tab align_tex_right" colspan="3"><label>Totala a pagar</labed>
									<td class="columns_tab">{{ form.grantotal }} </td>
								</tr>
								<tr>
								</tr>
							</table>
						</div>
						<br><br>
						<div ><button class="icon-database form_submit" type="submit">  Guardar  </button></div>
						<br>
					</div>
				</form>
			</div>
		{% endblock context%}