{% extends 'base/base_comercial.html' %}

{% block title %} Edita Ingreso {% endblock title %}</title>
    {% block context%}
    <div class="crea_content">
        <h3 class="crea_proceso">Comercial:  Ingresos</h3>
        <a class="icon-print iconos align_tex_left crea_boton" target="_blank" href="{% url 'comercial:ped_repor' %}">Print</a>
        <a class="icon-reply crea_boton" href="{% url 'comercial:fac_panel' %}">Volver</a>
    </div>
    <div>
        <form name="form_transac" method="POST" enctype="multipart">{% csrf_token %}
            <div class="form_content">
                <div>
                    <div class="form_titulo"><h1> Actualizar Ingresos </h1></div>

                    {% if form.errors %}

                        <div class="form_errors" role="alert">
                            {{ form.errors }}
                        </div>

                    {% endif %}

                    {% for field in form %}
                        {% for error in field.errors %}
                            <strong>{{ field.label }}</strong>: {{ error }}<br>
                        {% endfor %}
                    {% endfor %}

                    {% for error in form.non_field_errors %}
                        <strong>{{ error }}</strong>
                    {% endfor %}


                    {% if nuevo_mov.errors %}

                        <div class="form_errors" role="alert">
                            {{ nuevo_mov.errors }}
                        </div>

                    {% endif %}

                    {% for field in nuevo_mov %}
                        {% for error in field.errors %}
                            <strong>{{ field.label }}</strong>: {{ error }}<br>
                        {% endfor %}
                    {% endfor %}

                    {% for error in nuevo_mov.non_field_errors %}
                        <strong>{{ error }}</strong>
                    {% endfor %}

                    <div class="form_esc">
                        <a class="icon-cancel" href="{% url 'comercial:fac_panel' %}"></a>
                    </div>
                </div>
                {% comment %}
                <td class="columns_tab width_010"> <input name="mvi_product" required id="cod_product" onclick="popsaldo()" onblur="poptallas()"/></td>
                <div class="form_row"><div class="form_label"><label for="{{form.mvi_motivos.name}}">{{form.mvi_motivos.label}}</label></div><div>{{form.mvi_motivos}}</div></div>
                {% endcomment %}
                <div>
                    <fieldset>
                        <div class="form_row_all">
                            <div class="width_010"><label for="{{form.ing_proveed.name}}">{{form.ing_proveed.label}}</label></div>
                            <div class="form_widget width_025">{{ form.ing_proveed }}</div>
                            <div class="width_040">&nbsp;</div>
                            <div class="width_015"><label for="{{form.ing_feching.name}}">{{form.ing_feching.label}}</label></div>
                            <div class="form_widget width_010">{{ form.ing_feching }} </div>
                        </div >
                        <div class="form_row_all">
                            <div class="width_010"><label for="{{form.ing_vendedo.name}}">{{ form.ing_vendedo.label }}</label></div>
                            <div class="form_widget width_025">{{ form.ing_vendedo }} </div>
                            <div class="width_040">&nbsp;</div>
                            <div class="width_015"><label for="{{form.ing_facprov.name}}">{{form.ing_facprov.label}}</label></div>
                            <div class="form_widget width_010">{{ form.ing_facprov }}</div>
                            <input name="ing_sucursa" id="id_ing_sucursa" type="hidden" value="{{ user.sucursal.pk }}">

                        </div>
                    </fieldset>
                </div>
                <div>
                    <table border="0" class="width_100">
                        <thead border="1">
                            <tr color="#:000066">
                                <th class="head_tab width_015">Producto</th>
                                <th class="head_tab width_040">Detalle del producto</th>
                                <th class="head_tab width_010">Cantidad</th>
                                <th class="head_tab width_005">Und.</th>
                                <th class="head_tab width_010">Precio</th>
                                <th class="head_tab width_005">Dscto.</th>
                                <th class="head_tab width_005">IVA</th>
                                <th class="head_tab width_010">Valor</th>
                                <th class="head_tab width_010">@</th>
                            </tr>
                        </thead>
                        <tbody border="1" id="movimientos">
                            {% for movimiento in movimientos %}
                                <tr >
                                    <input type="hidden" value='{{ movimiento.mvi_nummovi }}' />
                                    <td class="columns_tab width_015"> <input value="{{ movimiento.mvi_product.exs_product }}" disabled="disabled"/></td>
                                    <td class="columns_tab width_040"> <input value="{{ movimiento.mvi_product.exs_detalle }}" disabled="disabled"></td>
                                    <td class="columns_tab width_010"> <input class="align_tex_right" value='{{ movimiento.mvi_kntidad|default:0|stringformat:"0.2f" }}' disabled="disabled"/></td>
                                    <td class="columns_tab width_005"> <input value="{{ movimiento.pop_pedUnid }}" disabled="disabled"></td>
                                    <td class="columns_tab width_010"> <input class="align_tex_right" value='{{ movimiento.mvi_precios|default:0|stringformat:"0.2f" }}' disabled="disabled"></td>
                                    <td class="columns_tab width_005"> <input class="align_tex_right" value='{{ movimiento.mvi_desctos|default:0|stringformat:"0.2f" }}' disabled="disabled"></td>
                                    <td class="columns_tab width_005"> <input class="align_tex_right" value='{{ movimiento.mvi_impuest|default:0|stringformat:"0.2f" }}' disabled="disabled"></td>
                                    <td class="columns_tab width_010"> <input class="align_tex_right" value='{{ movimiento.subtotal|default:0|stringformat:"0.2f" }}' disabled="disabled"></td>
                                    <td class="columns_tab"><a class="icon-trash iconos" href="{% url 'comercial:ped_delet' movimiento.mvi_nummovi %}"></a></td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <input name="pop_pedKyPr" type="hidden" id="inp_pedKyPr" value=" ">
                                <input name="pop_pedTbtl" type="hidden" id="inp_tabtall" value=" ">
                                <input name="mvi_rcargos" type="hidden" id="inp_rcargos" value="0">
                                <input name="mvi_deliver" type="hidden" id="inp_deliver" value="0">
                                <input name="mvi_arancel" type="hidden" id="inp_arancel" value="0">
                                <input name="mvi_talla01" type="hidden">
                                <input name="mvi_talla02" type="hidden">
                                <input name="mvi_talla03" type="hidden">
                                <input name="mvi_talla04" type="hidden">
                                <input name="mvi_talla05" type="hidden">
                                <input name="mvi_talla06" type="hidden">
                                <input name="mvi_talla07" type="hidden">
                                <input name="mvi_talla08" type="hidden">
                                <input name="mvi_talla09" type="hidden">
                                <input name="mvi_talla10" type="hidden">
                                <input name="mvi_talla11" type="hidden">
                                <input name="mvi_talla12" type="hidden">
                                <input name="mvi_talla13" type="hidden">
                            </tr>
                            <tr id="templates">
                                <td class="columns_tab width_015"> <input name="mvi_product" id="inp_product" autofocus required autocomplete="off" /></td>
                                <td class="columns_tab width_040"> <input name="pop_pedDtll" disabled="disabled"></td>
                                <td class="columns_tab width_010"> <input name="mvi_kntidad" id="inp_kntidad" class="align_tex_right"  required type="number" step="0.01" pattern="[0-9]" autocomplete="off" disabled="disabled" /></td>
                                <td class="columns_tab width_005"> <input name="mvi_unidade" disabled="disabled"></td>
                                <td class="columns_tab width_010"> <input class="align_tex_right" name="mvi_precios" id="inp_precios" type="number"></td>
                                <td class="columns_tab width_005"> <input class="align_tex_right" name="mvi_desctos" id="inp_desctos" disabled="disabled" value="0.00"></td>
                                <td class="columns_tab width_005"> <input class="align_tex_right" name="mvi_impuest" value="{{ request.user.sucursal.suc_impuest | stringformat:'0.2f' }}"></td>
                                <td class="columns_tab width_010"> <input class="align_tex_right" name="pop_valores" stringformat:'0.2f' type="number" step="0.01" readonly="readonly"></td>
                                <td><div class=""><button name="sub_newregs" class="icon-basket iconos" type="submit"></button></div></td>
                            </tr><hr>
                            <tr class="totales">
                                <td colspan="7" class="width_025 columns_tab align_tex_right"><label>Sub-total:</label></td>
                                <td class="width_040 columns_tab align_tex_right warnig1"> {{ total|stringformat:'0.2f' }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% if forms.error %}
                    <div class="form_errors" role="alert">
                        {{ form.error }}
                    </div>
                {% endif %}
                <br>
            </div>
        </form>
        <br>
        <form name="form_factura" method="POST" enctype="multipart" action="{% url 'comercial:com_new' %}">{% csrf_token %}
            <input type="hidden" name="ingreso_id" value="{{ object.pk }}">
            <input type="hidden" name="facproveed" value="{{ object.ing_facprov }}" id="facproveed">
            <div><button name="sub_compra" class="icon-reply form_submit" type="submit" onkeydown="validadowky();"> P a g a r </button></div>
        </form>
    </div>
{% endblock context%}

{% block js %}

    <script type="text/javascript">

        var ing_facprov = document.getElementById("id_ing_facprov");
        ing_facprov.addEventListener("keypress", function(e){
            var facproveed = document.getElementById("facproveed");
            facproveed.value = ing_facprov.value;
        });

        // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
        // Solo permite facturar con click, si da un enter no acepta   //
        // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
        function validadowky(){
            location.reload();
        }
        // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
        // Accesa a productos por un click en campo cod.del producto   //
        // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
        var pop_callprd = document.getElementById("inp_product");
        if(pop_callprd.addEventListener){
            jsw_ctrlprd = document.getElementById('inp_kntidad').disabled;
            pop_callprd.addEventListener("click", function(){
                if (jsw_ctrlprd){
                    document.getElementById('inp_kntidad').disabled = false;
                    document.getElementById('inp_kntidad').focus();
                    }
                document.form_transac['mvi_kntidad'].value="";
                document.getElementById("inp_tabtall").value="";
                window.open("{% url 'comercial:pop_exist' %}?all", "prd_winpops", "directories=no,menubar=no,status=no,toolbar=no,location=no,scrollbars=no,fullscreen=no,height=520,width=1180,left=210,top=200");
                }, false);
        // - - Accesa a productos por cod.del producto digitados o cod.de barras  //
        //  jsw_ctrlprd = document.getElementById('inp_kntidad').disabled;

            pop_callprd.addEventListener("change", function(){
                var campo1 = document.getElementById("inp_product").value;
                if(campo1.length > 0){
                    tmp_keyprod = document.form_transac["mvi_product"].value;
                    if (jsw_ctrlprd){
                        document.getElementById('inp_kntidad').disabled = false;
                    //  document.getElementById('inp_kntidad').focus();
                        };
                    document.form_transac['mvi_kntidad'].value="";
                    document.getElementById("inp_tabtall").value="";
                    var url = "{% url 'inventarios:exi_query' exs_product=987654321 %}".replace('987654321', tmp_keyprod);
                    queryexi(url);
                    }
                else
                    {
                    document.getElementById('inp_product').focus();
                    }
                }, false);
            }

        // - - - - - - - - - - - - - - - - - - - - - - - - - - - //
        // Verifica los estados en el campo de cantidades        //
        // - - - - - - - - - - - - - - - - - - - - - - - - - - - //
        var lst_calltll = document.getElementById("inp_kntidad");
        if(lst_calltll.addEventListener){
            var jsw_tabtlla = document.getElementById("inp_tabtall").value;
            var jsw_kntidad = document.getElementById("inp_kntidad").value || 0;
            lst_calltll.addEventListener("submit", function(){
                var jsw_keyprod = document.form_transac['pop_pedKyPr'].value;
                if (jsw_kntidad < 1){
                    if (jsw_tabtlla != "X"){
                        var url = "{% url 'inventarios:ing_talla' pk=987654321 %}".replace('987654321', jsw_keyprod);
                        poptalla(url);
                        }
                    else{
                        alert("Falta Cantidad..!!");
                        };
                    };
                },
            lst_calltll.addEventListener("click", function(){
                var jsw_tabtlla = document.getElementById("inp_tabtall").value;
                var jsw_keyprod = document.form_transac['pop_pedKyPr'].value;
                if (jsw_tabtlla != "X"){
                    var url = "{% url 'inventarios:ing_talla' pk=987654321 %}".replace('987654321', jsw_keyprod);
                    poptalla(url);
                    }
                else{
                    document.form_transac['inp_precios'].disabled = false;
                    document.form_transac['inp_desctos'].disabled = false;
                    document.form_transac['mvi_talla01'].value=0;
                    document.form_transac['mvi_talla02'].value=0;
                    document.form_transac['mvi_talla03'].value=0;
                    document.form_transac['mvi_talla04'].value=0;
                    document.form_transac['mvi_talla05'].value=0;
                    document.form_transac['mvi_talla06'].value=0;
                    document.form_transac['mvi_talla07'].value=0;
                    document.form_transac['mvi_talla08'].value=0;
                    document.form_transac['mvi_talla09'].value=0;
                    document.form_transac['mvi_talla10'].value=0;
                    document.form_transac['mvi_talla11'].value=0;
                    document.form_transac['mvi_talla12'].value=0;
                    document.form_transac['mvi_talla13'].value=0;
                    alert("Este producto no tiene tallas");
                    };
                },
            lst_calltll.addEventListener("change", function(){
                jsw_tabtlla = document.form_transac["pop_pedTbtl"].value;
                jsw_keyprod = document.form_transac["pop_pedKyPr"].value;
                if (jsw_tabtlla != "X"){
                    alert("Este producto tiene tallas: ", jsw_tabtlla);
                    var url = "{% url 'inventarios:ing_talla' pk=987654321 %}".replace('987654321', jsw_keyprod);
                    poptalla(url);
                    }
                else{
                    document.form_transac['inp_precios'].disabled = false;
                    document.form_transac['inp_desctos'].disabled = false;
                    document.form_transac['mvi_talla01'].value=0;
                    document.form_transac['mvi_talla02'].value=0;
                    document.form_transac['mvi_talla03'].value=0;
                    document.form_transac['mvi_talla04'].value=0;
                    document.form_transac['mvi_talla05'].value=0;
                    document.form_transac['mvi_talla06'].value=0;
                    document.form_transac['mvi_talla07'].value=0;
                    document.form_transac['mvi_talla08'].value=0;
                    document.form_transac['mvi_talla09'].value=0;
                    document.form_transac['mvi_talla10'].value=0;
                    document.form_transac['mvi_talla11'].value=0;
                    document.form_transac['mvi_talla12'].value=0;
                    document.form_transac['mvi_talla13'].value=0;
                    calcula();
                    }
                },
            false)));
            }
        // - - - - - - - - - - - - - - - - - - - - - - - - - -//
        // Calculo de valor x item por cambio en el precio    //
        // - - - - - - - - - - - - - - - - - - - - - - - - - -//
        var lst_callprc = document.getElementById("inp_precios");
        if(lst_callprc.addEventListener){
            lst_callprc.addEventListener("change", function(){calcula()}, false);
            }

        function calcula(){
            var jsw_cantida = document.form_transac['mvi_kntidad'].value || 0.00;
            var jsw_precios = document.form_transac['mvi_precios'].value || 0.00;
            document.form_transac['pop_valores'].value = (jsw_cantida * jsw_precios) || 0.00;
            document.form_transac['mvi_precios'].value = jsw_precios;
            }

        function poptalla(url){
            document.form_transac['inp_precios'].disabled = false;
            document.form_transac['inp_desctos'].disabled = false;
            window.open(url, "pop_dtallas", "directories=no,menubar=no,status=no,toolbar=no,location=no,scrollbars=no,fullscreen=no,height=200,width=920,left=380,top=450");
            }

        function queryexi(url){
            document.form_transac['inp_precios'].disabled = false;
            document.form_transac['inp_desctos'].disabled = false;
            window.open(url, "qry_existenc", "directories=no,menubar=no,status=no,toolbar=no,location=no,scrollbars=no,fullscreen=no,height=20,width=20");
            }
    </script>
    <script type="text/javascript">
        var jsw_pgoefec,
            jsw_pgocheq,
            jsw_pgotjcr,
            jsw_pgocred,
            jsw_otropgo,
            jsw_entrega,
            jsw_cambios,
            jsw_tpagado;

        function sum_frmapgo(){
            jsw_tpagado=0;
            jsw_pgoefec=document.form_transac['inf_pgoefec'].value || 0;
            jsw_pgocheq=document.form_transac['inf_pgocheq'].value || 0;
            jsw_pgotjcr=document.form_transac['inf_pgotjcr'].value || 0;
            jsw_pgocred=document.form_transac['inf_pgocred'].value || 0;
            jsw_otropgo=document.form_transac['inf_otropgo'].value || 0;
            jsw_entrega=document.form_transac['inf_entrega'].value || 0;
            jsw_cambios=document.form_transac['inf_cambios'].value || 0;
            jsw_tpagado=Number(jsw_pgoefec)+Number(jsw_pgocheq)+Number(jsw_pgotjcr)+Number(jsw_pgocred)+Number(jsw_otropgo);
            document.getElementById("fld_tpagado").value=jsw_tpagado;
            }

    </script>

{% endblock js %}
