			<div>
				<nav class="nav">
					<ul class="menu">
						<li class="menus-link"><a class="boton-xx" href="{% url 'comercial:prv_panel' %}">Proveedor</a></li>
						<li class="menus-link"><a class="boton-xx" href="{% url 'comercial:com_panel' %}">Compras</a></li>
						<li class="menus-link"><a class="boton-xx" href="{% url 'comercial:cli_panel' %}">Clientes</a></li>
						<li class="menus-link"><a class="boton-xx" href="{% url 'comercial:fac_panel' %}">Ventas</a></li>
						<li class="menus-link"><a class="boton-xx" href="{% url 'comercial:ajc_new' %}">N/Crédito</a></li>
						<li class="menus-link"><a class="boton-xx" href="{% url 'comercial:vnd_panel' %}">Vendedor</a></li>
						<li class="menus-link"><a class="boton-xx" href="#">Trasferen.</a></li>
						<li class="menus-link"><a class="boton-xx" href="{% url 'comercial:mvi_panel' %}">Movimientos</a></li>
					</ul>
				</nav>
			</div>
