{% extends 'base/base_comercial.html' %}

{% block title %} Graba Pedidos {% endblock title %}</title>
{% block css %}
	{{ block.super }}
	<style type="text/css">
		td input{
			width: 100%;
			max-width: 100%;
		}
	</style>
{% endblock css %}
{% block super %}

{% endblock %}

			{% block context%}
			<div class="crea_content">
				<h3 class="crea_proceso">Comercial:  Facturación</h3>
				<a class="icon-reply crea_boton" href="{% url 'comercial:fac_panel' %}">Volver</a>
			</div>
			<div>
				<form name="form_pedidos" method="POST" enctype="multipart">{% csrf_token %}
					<div class="form_content">
						<div>
							<div class="form_titulo"><h1> Grabar Pedidos </h1></div>
							<div class="form_esc">
								<a class="icon-cancel" href="{% url 'comercial:fac_panel' %}"></a>
							</div>
						</div>
						{% comment %}
						<div class="form_row"><div class="form_label"><label for="{{form.mvi_motivos.name}}">{{form.mvi_motivos.label}}</label></div><div>{{form.mvi_motivos}}</div></div>
						{% endcomment %}
						<div>
							<fieldset>
								<div class="form_row_all">
									<div class="width_010"><label for="{{form.ped_cliente.name}}">{{form.ped_cliente.label}}</label></div>
									<div class="form_widget width_025">{{ form.ped_cliente }}</div>
									<div class="width_040">&nbsp;</div>
									<div class="width_015"><label for="{{form.ped_fechped.name}}">{{form.ped_fechped.label}}</label></div>
									<div class="form_widget width_010">{{ form.ped_fechped }} </div>
								</div >
								<div class="form_row_all">
									<div class="width_010"><label for="{{form.ped_vendedo.name}}">{{ form.ped_vendedo.label }}</label></div>
									<div class="form_widget width_025">{{ form.ped_vendedo }} </div>
									<div class="width_040">&nbsp;</div>
									<div class="width_015"><label for="{{form.ped_npedido.name}}">{{form.ped_npedido.label}}</label></div>
									<div class="form_widget width_010">{{ form.ped_npedido }}</div>
								</div>

								<button type="button" id="nuevo_movimiento">+ Movimiento</button>
							</fieldset>
						</div>
						<div>
							<table border="0" >
								<thead border="1">
								 	<tr color="#:000066" class="width_100">
								 		<th class="head_tab width_010">Producto</th>
								 		<th class="head_tab width_025">Detalle del producto</th>
								 		<th class="head_tab width_010">Cantidad</th>
								 		<th class="head_tab width_005">Und.</th>
								 		<th class="head_tab width_010">Precio</th>
								 		<th class="head_tab width_005">Dscto.</th>
								 		<th class="head_tab width_005">IVA</th>
								 		<th class="head_tab width_010">Valor</th>
								 	</tr>
								</thead>
								<tbody border="1" id="movimientos">
									<tr id="template">
										<td class="columns_tab width_010"> <input name="pop_pedProd[__index__]" required /></td>
										<td class="columns_tab width_025"> <input name="pop_pedDtll[__index__]" disabled="disabled"></td>
										<td class="columns_tab width_005"> <input name="pop_kntidad[__index__]" type="number" step="0.01"></td>
										<td class="columns_tab width_010"> <input name="pop_pedUnid[__index__]" disabled="disabled"></td>
										<td class="columns_tab width_010"> <input name="pop_pedPrc4[__index__]" type="number" step="0.01" ></td>
										<td class="columns_tab width_005"> <input name="pop_dscuent[__index__]" disabled="disabled"></td>
										<td class="columns_tab width_005"> <input name="pop_impuest[__index__]" disabled="disabled"></td>
										<td class="columns_tab width_010"> <input name="pop_valores[__index__]" type="number" step="0.01" disabled="disabled"></td>
										<td class="columns_tab"> <input name="pop_pedTbtl[__index__]" type="hidden"></td>
									</tr>
								</tbody>
								<tr>
								</tr>
								<tr>
									<td class="columns_tab">{{form.fac_cajeras.label}}</td>
									<td class="columns_tab align_tex_right"><label>Total de Itms </label>
									<td class="columns_tab">{{ form.fac_cajeras }} </td>
									<td class="columns_tab">{{ form.totpago }} </td>
									<td class="columns_tab" colspan="2"></td>
									<td class="columns_tab align_tex_right"><label>Totala a pagar</labed>
									<td class="columns_tab">{{ form.grantotal }} </td>
								</tr>
								<tr>
								</tr>
							</table>
						</div>
						<br>{% if forms.error %}
							<div class="form_errors" role="alert">
								{{ form.error }}
							</div>
						{% endif %}

						<div ><button class="icon-database form_submit" type="submit">  Guardar  </button></div>
						<br>
					</div>
				</form>
			</div>
		{% endblock context%}

		{% block js %}
			{{ block.super }}

			<script type="text/javascript">
				function popsaldo(id){
					CURRENT_ID = id;
					window.open("{% url 'comercial:pop_exist' %}", "_blank", "directories=no, menubar=no,status=no,toolbar=no,location=no,scrollbars=no,fullscreen=no,height=680,width=1600");
				}
				function popsaldoaa(){
					window.alert('ojote');
				}
				function pedirTallas() {
					alert("Pedir Tallas");
				}
				function calcularValor() {
					cantidad = document.form_pedidos['pop_kntidad[' + CURRENT_ID +']'].value;
					precio = document.form_pedidos['pop_pedPrc4[' + CURRENT_ID +']'].value;
					document.form_pedidos['pop_valores[' + CURRENT_ID +']'].value = cantidad * precio;
				}
				function actualizar(pedProd, pedDtll, pedTbtl, pedUnid, pedPrc4){
					document.form_pedidos['pop_pedProd['+ CURRENT_ID+']'].value = pedProd;
					document.form_pedidos['pop_pedDtll['+ CURRENT_ID+']'].value = pedDtll;
					if (pedTbtl){
						pedirTallas();
						document.form_pedidos['pop_kntidad['+ CURRENT_ID+']'].disabled = true;
					} else {
						document.form_pedidos['pop_kntidad['+ CURRENT_ID+']'].disabled = false;
						document.form_pedidos['pop_pedTbtl['+ CURRENT_ID+']'].value = pedTbtl;
					}
					document.form_pedidos['pop_pedUnid['+ CURRENT_ID+']'].value = pedUnid;
					document.form_pedidos['pop_pedPrc4['+ CURRENT_ID+']'].value = pedPrc4;
					document.form_pedidos['pop_kntidad['+ CURRENT_ID+']'].onkeyup = calcularValor;
					document.form_pedidos['pop_pedPrc4['+ CURRENT_ID+']'].onkeyup = calcularValor;

				}
			</script>

			<script type="text/javascript">
				$(function(){
					var template = $('#template')[0].outerHTML;
					$('#template').remove()
					var getLength = function(){
						return $('#movimientos tr').length;
					}
					var anadir = function(){
						var item_num = getLength();
						var html = template.replace(/__index__/g, item_num);
						var $html = $(html);
						$html.attr('id', "mov_" + item_num)
						$html.find('input[name^="pop_pedProd"]').click(function() {
							popsaldo(item_num);
						})
						$('#movimientos').append($html);
					}
					$('#nuevo_movimiento').click(anadir);
					anadir();
				})
			</script>

		{% endblock js %}

