{% extends 'base/base_inventarios.html' %}

{% block title %} Visualiza Colores {% endblock title %}</title>

			{% block context%}
			<div class="crea_content">
				<h3 class="crea_proceso">Inventarios: Colores</h3>
				<a class="icon-reply crea_boton" href="{% url 'inventarios:col_panel' %}">Volver</a>

			</div>
			<div>
				<div>
					<div class="form_content">
						<div class="form_titulo"><h1>Visualiza Colores</h1></div>
						<div class="form_esc">
							<a class="icon-cancel" href="{% url 'inventarios:col_panel' %}"></a>
						</div>
						{% if forms.error %}
							<div class="form_errors" role="alert">
								{{ form.error }}
							</div>
						{% endif %}
						<div class="form_row"><div class="form_label">Código 	  </div><div class="form_widget">{{ object.col_idcolor }}</div></div>
						<div class="form_row"><div class="form_label">Detalle     </div><div class="form_widget">{{ object.col_detalle }}</div></div>
						<div class="form_row"><div class="form_label">Abreviatura </div><div class="form_widget">{{ object.col_abrevia }}</div></div>
						<div class="form_row"><div class="form_label">Indicador   </div><div class="form_widget">{{ object.col_indicad }}</div></div>
						<div class="form_row"><div class="form_label">Status      </div><div class="form_widget">{{ object.col_statreg }}</div></div>
						<br><br>
						<div ><a class="icon-reply crea_boton" href="{% url 'inventarios:mrk_panel' %}">  Ok   </a></div>
						<br>
					</div>
				</div>
			</div>
		{% endblock context%}