{% extends 'base/base_print.html' %}{% load inventarios_filters %}

{% block title %} Tickets de Productos {% endblock title %}

{% block context %}

    <div class="print_content">
        <table class="print_item_cont" border="0">
          {% if object.saldoxtalla %}
              {% for talla, saldo_talla in object|por_tallas:'tex_actua' %}
                  {% for _ in saldo_talla|por_saldo %}
                      {% cycle "<tr>" "" %}
                          <td class="print_item">{% comment %}<br> {% endcomment %}
                              &nbsp;&nbsp;{{ object.exs_abrevia }}<br>
                              &nbsp;&nbsp;<span class="print_fsize2em">Talla.: &nbsp;{{ talla }}</span>
                              &nbsp;&nbsp;Cód.aux: {{ object.exs_costact|default:''|stringformat:"0.0f" }}
                              &nbsp;&nbsp; <svg class="barcode"
                                    jsbarcode-format="code128c"
                                    jsbarcode-ean128="true"
                                    jsbarcode-flat="false"
                                    jsbarcode-height="30"
                                    jsbarcode-fontsize="14"
                                    jsbarcode-value="{{ object.exs_product }}"
                                    jsbarcode-textmargin="0">
                                  </svg> &nbsp;
                          </td>
                      {% cycle "" "</tr>" %}
                  {% endfor %}
              {% endfor %}
          {% else %}
              {% for _ in object.exs_saldact|por_saldo %}
                  {{ saldo_talla }}
                  {% cycle "<tr>" "" %}
                      <td class="print_item"><br>
                          &nbsp;&nbsp;{{ object.exs_abrevia }}<br>
                          &nbsp;&nbsp;Talla.: - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;Cód.aux: {{ object.exs_costact|default:''|stringformat:"0.0f" }}
                          &nbsp;&nbsp; <svg class="barcode"
                                jsbarcode-format="code128c"
                                jsbarcode-ean128="true"
                                jsbarcode-flat="false"
                                jsbarcode-height="40"
                                jsbarcode-fontsize="14"
                                jsbarcode-value="{{ object.exs_product }}"
                                jsbarcode-textmargin="0">
                              </svg> &nbsp;
                      </td>

                  {% cycle "" "</tr>" %}
              {% endfor %}
          {% endif %}
        </table>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jsbarcode@3.8.0/dist/barcodes/JsBarcode.code128.min.js"></script>

    <script type="text/javascript">
        JsBarcode(".barcode").init();
    </script>
{% endblock context %}
