{% extends 'base/base_print.html' %}{% load inventarios_filters %}

{% block title %} Tickets para Productos {% endblock title %}</title>

{% block context %}

    {% if forms.error %}
    <div class="form_errors" role="alert">
        {{ form.error }}
    </div>
    {% endif %}
    {% for field in form %}
        {% for error in field.errors %}
            <strong>{{ field.label }}</strong>: {{ error }}<br>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <strong>{{ error }}</strong>
    {% endfor %}
    <div class="print_content">
        <table class="print_item_cont" border="0">
                {% if object.saldoxtalla %}
                    {% for talla, saldo_talla in object|por_tallas:'tex_actua' %}
                        {% for _ in saldo_talla|por_saldo %}
                            {% cycle "<tr>" "" %}
                                <td class="print_item">
                                    {{ object.exs_abrevia }}<br>
                                    Talla.: {{ talla }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    Cód.aux: {{ object.exs_costact }}<br>
                                    <span class="barcode"> {{ object.exs_product }} </span><br>
                                    .<br><br>
                                </td>
                            {% cycle "" "</tr>" %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            <br/>
        </table>
    </div>
{% endblock context %}
