{% extends 'base/base_print.html' %}{% load inventarios_filters %}

{% block title %} Tickets para Productos {% endblock title %}</title>

{% block context %}

<div id="tickets">
    <table width="10%" border="0">
        <tbody>
            {% if productos %}
               {% for var_exifield in productos %}
                        {% if var_exifield.saldoxtalla %}
                            {% for talla, saldo_talla in var_exifield|por_tallas:'tex_actua' %}
                                {% for _ in saldo_talla|por_saldo %}
                                    {% cycle "<tr>" "" %}
                                        <td class="align_tex_center">
                                            {{ var_exifield.exs_abrevia }}<br>
                                            Talla.: {{ talla }}<br>
                                            <span class="barcode"> {{ var_exifield.exs_product }} </span>
                                            Cód.aux: {{ var_exifield.exs_costact }}<br>
                                            .
                                        </td>
                                    {% cycle "" "</tr>" %}
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            {% for _ in var_exifield.exs_saldact|por_saldo %}
                                {{ saldo_talla }}
                                {% cycle "<tr>" "" %}
                                    <td class="align_tex_center">
                                        {{ var_exifield.exs_abrevia }}<br>
                                        Talla.: --- <br>
                                        <span class="barcode"> {{ var_exifield.exs_product }} </span>
                                        Cód.aux: {{ var_exifield.exs_costact }}
                                    </td>
                                {% cycle "" "</tr>" %}
                            {% endfor %}
                        {% endif %}
                {% endfor %}
            {% else %}
                <h4> No hay registros en Existencias </h4>
            {% endif %}
            <br/>
        </tbody>
    </table>
</div>
{% endblock context %}
