{% extends 'base/base_inventarios.html' %}

{% block title %} Visualiza Existencias {% endblock title %}</title>

			{% block context%}
			<div class="crea_content">
				<h3 class="crea_proceso">Inventarios:  Existencias</h3>
				<a class="icon-reply crea_boton" href="{% url 'inventarios:exi_panel' %}">Volver</a>

			</div>
			<div class="form_content">
				<div class="form_titulo"><h1>Visualiza Productos</h1></div>
				<div class="form_esc">
					<a class="icon-cancel" href="{% url 'inventarios:exi_panel' %}"></a>
				</div>
				{% if forms.error %}
					<div class="form_errors" role="alert">
						{{ form.error }}
					</div>
				{% endif %}
				{% for field in form %}
					{% for error in field.errors %}
						<strong>{{ field.label }}</strong>: {{ error }}<br>
					{% endfor %}
				{% endfor %}
				{% for error in form.non_field_errors %}
					<strong>{{ error }}</strong>
				{% endfor %}
				<div>
					<div class="form_row"><div class="form_label">Sucursal.:</div><div>{{object.exs_sucursa}}</div></div>
					<div class="form_row"><div class="form_label">Producto.:</div><div>{{object.exs_product}}</div><div class="form_label"> Detalle.:</div><div>{{object.exs_detalle}}</div></div>
					<div class="form_row"><div class="form_label">Unidad.:  </div><div>{{object.exs_idunida}}</div></div>
				</div>
				<form method="POST">
					<table border="0" class="width_100">
					 	<tr color="#:000066" class="width_99">
					 		<td class="head_tab"><div class=""><label for="">Tab./Talla</label></div></td>
					 		<td class="head_tab_tall">{{ object.exs_idmodel.mod_tabtall.get_shortcode }} </td>
							<td class="head_tab_tall">{{ object.exs_idmodel.mod_tabtall.jgo_medid01 | default:'-'}} </td>
							<td class="head_tab_tall">{{ object.exs_idmodel.mod_tabtall.jgo_medid02 | default:'-'}} </td>
							<td class="head_tab_tall">{{ object.exs_idmodel.mod_tabtall.jgo_medid03 | default:'-'}} </td>
							<td class="head_tab_tall">{{ object.exs_idmodel.mod_tabtall.jgo_medid04 | default:'-'}} </td>
							<td class="head_tab_tall">{{ object.exs_idmodel.mod_tabtall.jgo_medid05 | default:'-'}} </td>
							<td class="head_tab_tall">{{ object.exs_idmodel.mod_tabtall.jgo_medid06 | default:'-'}} </td>
							<td class="head_tab_tall">{{ object.exs_idmodel.mod_tabtall.jgo_medid07 | default:'-'}} </td>
							<td class="head_tab_tall">{{ object.exs_idmodel.mod_tabtall.jgo_medid08 | default:'-'}} </td>
							<td class="head_tab_tall">{{ object.exs_idmodel.mod_tabtall.jgo_medid09 | default:'-'}} </td>
							<td class="head_tab_tall">{{ object.exs_idmodel.mod_tabtall.jgo_medid10 | default:'-'}} </td>
							<td class="head_tab_tall">{{ object.exs_idmodel.mod_tabtall.jgo_medid11 | default:'-'}} </td>
							<td class="head_tab_tall">{{ object.exs_idmodel.mod_tabtall.jgo_medid12 | default:'-'}} </td>
							<td class="head_tab_tall">{{ object.exs_idmodel.mod_tabtall.jgo_medid13 | default:'-'}} </td>

							<td class="head_tab width_005 ">TOTALES</td>
					 	</tr>
					 	<tr color="#:000066">
						 	<td class="head_tab" colspan="2"><div class="form_label"><label for="{{form.exs_saldinc.name}}">Saldo.inicial</label></div></td>
							<td class="columns_tab_tall">
								{% if object.exs_idmodel.mod_tabtall.jgo_medid01 %}
									{{ object.tex_inici01 }}
								{% endif %}
							</td>

							<td class="columns_tab_tall">
								{% if object.exs_idmodel.mod_tabtall.jgo_medid02 %}
									{{ object.tex_inici02 }}
								{% endif %}
							</td>

							<td class="columns_tab_tall">
								{% if object.exs_idmodel.mod_tabtall.jgo_medid03 %}
									{{ object.tex_inici03 }}
								{% endif %}
							</td>

							<td class="columns_tab_tall">
								{% if object.exs_idmodel.mod_tabtall.jgo_medid04 %}
									{{ object.tex_inici04 }}
								{% endif %}
							</td>

							<td class="columns_tab_tall">
								{% if object.exs_idmodel.mod_tabtall.jgo_medid05 %}
									{{ object.tex_inici05 }}
								{% endif %}
							</td>

							<td class="columns_tab_tall">
								{% if object.exs_idmodel.mod_tabtall.jgo_medid06 %}
									{{ object.tex_inici06 }}
								{% endif %}
							</td>

							<td class="columns_tab_tall">
								{% if object.exs_idmodel.mod_tabtall.jgo_medid07 %}
									{{ object.tex_inici07 }}
								{% endif %}
							</td>

							<td class="columns_tab_tall">
								{% if object.exs_idmodel.mod_tabtall.jgo_medid08 %}
									{{ object.tex_inici08 }}
								{% endif %}
							</td>

							<td class="columns_tab_tall">
								{% if object.exs_idmodel.mod_tabtall.jgo_medid09 %}
									{{ object.tex_inici09 }}
								{% endif %}
							</td>

							<td class="columns_tab_tall">
								{% if object.exs_idmodel.mod_tabtall.jgo_medid10 %}
									{{ object.tex_inici10 }}
								{% endif %}
							</td>

							<td class="columns_tab_tall">
								{% if object.exs_idmodel.mod_tabtall.jgo_medid11 %}
									{{ object.tex_inici11 }}
								{% endif %}
							</td>

							<td class="columns_tab_tall">
								{% if object.exs_idmodel.mod_tabtall.jgo_medid12 %}
									{{ object.tex_inici12 }}
								{% endif %}
							</td>

							<td class="columns_tab_tall">
								{% if object.exs_idmodel.mod_tabtall.jgo_medid13 %}
									{{ object.tex_inici13 }}
								{% endif %}
							</td>

							<td class="columns_tab"><div class="form_widget">{{object.exs_saldinc}}</div></td>
					 	</tr>
						<tr>
						 	<td class="head_tab"  colspan="2"><div class="form_label"><label for="{{form.exs_ingreso.name}}">Ingresos</label></div></td>
							<td class="columns_tab_tall width_005">{{ object.tex_ingre01 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_ingre02 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_ingre03 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_ingre04 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_ingre05 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_ingre06 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_ingre07 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_ingre08 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_ingre09 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_ingre10 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_ingre11 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_ingre12 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_ingre13 }} </td>
							<td class="columns_tab"><div class="form_widget">{{object.exs_ingreso}}</div></td>
					 	</tr>
					 	<tr color="#:000066">
						 	<td class="head_tab" colspan="2"><div class="form_label"><label for="{{form.exs_egresos.name}}">Egresos</label></div></td>
							<td class="columns_tab_tall width_005">{{ object.tex_egres01 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_egres02 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_egres03 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_egres04 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_egres05 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_egres06 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_egres07 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_egres08 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_egres09 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_egres10 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_egres11 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_egres12 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_egres13 }} </td>
							<td class="columns_tab"><div class="form_widget">{{object.exs_egresos}}</div></td>
					 	</tr>
					 	<tr color="#:000066">
						 	<td class="head_tab" colspan="2"><div class="form_label"><label for="{{form.exs_saldact.name}}">Saldo.Actual</label></div></td>
							<td class="columns_tab_tall width_005">{{ object.tex_actua01 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_actua02 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_actua03 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_actua04 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_actua05 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_actua06 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_actua07 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_actua08 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_actua09 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_actua10 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_actua11 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_actua12 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_actua13 }} </td>
							<td class="columns_tab"><div class="form_widget">{{object.exs_saldact}}</div></td>
					 	</tr>
					 	<tr color="#:000066">
						 	<td class="head_tab" colspan="2"><div class="form_label"><label for="{{form.exs_comprom.name}}">S.Comprometido</label></div></td>
							<td class="columns_tab_tall width_005">{{ object.tex_compr01 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_compr02 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_compr03 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_compr04 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_compr05 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_compr06 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_compr07 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_compr08 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_compr09 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_compr10 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_compr11 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_compr12 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_compr13 }} </td>
							<td class="columns_tab"><div class="form_widget">{{object.exs_comprom}}</div></td>
					 	</tr>
					 	<tr color="#:000066">
						 	<td class="head_tab" colspan="2"><div class="form_label"><label for="{{form.exs_xconfir.name}}">Sldo.x/confirmar</label></div></td>
							<td class="columns_tab_tall width_005">{{ object.tex_xconf01 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_xconf02 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_xconf03 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_xconf04 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_xconf05 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_xconf06 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_xconf07 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_xconf08 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_xconf09 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_xconf10 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_xconf11 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_xconf12 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_xconf13 }} </td>
							<td class="columns_tab"><div class="form_widget">{{object.exs_xconfir}}</div></td>
					 	</tr>
					 	<tr color="#:000066">
						 	<td class="head_tab" colspan="2"><div class="form_label"><label for="{{form.exs_dsponib.name}}">Saldo.disponible</label></div></td>
							<td class="columns_tab_tall width_005">{{ object.tex_dispo01 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_dispo02 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_dispo03 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_dispo04 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_dispo05 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_dispo06 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_dispo07 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_dispo08 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_dispo09 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_dispo10 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_dispo11 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_dispo12 }} </td>
							<td class="columns_tab_tall width_005">{{ object.tex_dispo13 }} </td>
							<td class="columns_tab"><div class="form_widget">{{object.exs_dsponib}}</div></td>
					 	</tr>
					</table>

					<table border="0">
						<tr><td class="form_label width_020"><label>{{ form.exs_feching.label }}</label></td> <td class="form_widget">{{object.exs_feching}}</td> <td colspan="2"><h2 CLASS="align_tex_center">P  R  E  C  I  O  S</h2></td> <td class="form_widget">{{object.exs_imgprod}}</td></tr>
						<tr><td class="form_label width_020"><label>{{ form.exs_fechegr.label }}</label></td> <td class="form_widget">{{object.exs_fechegr}}</td> <td colspan="2"></td><td rowspan="6" class="form_label">{{object.exs_imgprod.label}}</td> </tr>
						<tr><td class="form_label width_020"><label>{{ form.exs_fechinv.label }}</label></td> <td class="form_widget">{{object.exs_fechinv}}</td> <td class="form_label">{{object.exs_distrib.label}}</td><td class="form_widget">{{object.exs_distrib}}</td></tr>
						<tr><td class="form_label width_020"><label>{{ form.exs_costant.label }}</label></td> <td class="form_widget">{{object.exs_costant}}</td> <td class="form_label">{{object.exs_mayoris.label}}</td><td class="form_widget">{{object.exs_mayoris}}</td></tr>
						<tr><td class="form_label width_020"><label>{{ form.exs_dispant.label }}</label></td> <td class="form_widget">{{object.exs_dispant}}</td> <td class="form_label">{{object.exs_detalls.label}}</td><td class="form_widget">{{object.exs_detalls}}</td></tr>
						<tr><td class="form_label width_020"><label>{{ form.exs_costact.label }}</label></td> <td class="form_widget">{{object.exs_costact}}</td> <td class="form_label">{{object.exs_publico.label}}</td><td class="form_widget">{{object.exs_publico}}</td></tr>
						<tr><td class="form_label width_020"><label>{{ form.exs_cosprom.label }}</label></td> <td class="form_widget">{{object.exs_cosprom}}</td> <td class="form_label">{{object.exs_special.label}}</td><td class="form_widget">{{object.exs_special}</td></tr>
					</table>
			</form>
				<br>
				<div ><a class="icon-reply crea_boton" href=" {% url 'inventarios:tll_panel' %} ">  Ok   </a></div>
				<br>
			</div>
		{% endblock context%}