{% extends 'base/base_inventarios.html' %}

{% block title %} Graba Productos {% endblock title %}</title>

			{% block context%}
			<div class="crea_content">
				<h3 class="crea_proceso">Inventarios: Productos</h3>
				<a class="icon-reply crea_boton" href="{% url 'inventarios:exi_panel' %}">Volver</a>

			</div>
			<div>
				<form method="POST" enctype="multipart">{% csrf_token %}
					<div class="form_content">
						<div class="form_titulo"><h1>Graba Productos</h1></div>
						<div class="form_esc">
							<a class="icon-cancel" href="{% url 'inventarios:exi_panel' %}"></a>
						</div>
						{% if forms.error %}
							<div class="form_errors" role="alert">
								{{ form.error }}
							</div>
						{% endif %}
						{% for field in form %}
							{% for error in field.errors %}
								<strong>{{ field.label }}</strong>: {{ error }}<br>
							{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
							<strong>{{ error }}</strong>
						{% endfor %}
						{% comment %}
							{% for field in form %}
								<div class="form_row">
									<div class="form_label">
										<label>{{ field.label }}</label>
									</div>
									<div>{{ field }}</div>
								</div>
							{% endfor %}
						{% endcomment %}
						<div class="form_row"><div class="form_label"><label for="{{form.exs_sucursa.name}}">{{form.exs_sucursa.label}}</label></div><div class="form_widget">{{form.exs_sucursa}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.exs_iddivis.name}}">{{form.exs_iddivis.label}}</label></div><div class="form_widget">{{form.exs_iddivis}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.exs_idmarca.name}}">{{form.exs_idmarca.label}}</label></div><div class="form_widget">{{form.exs_idmarca}}</div>
						 					  <div class="form_label"><label for="{{form.exs_idmodel.name}}">{{form.exs_idmodel.label}}</label></div><div class="form_widget">{{form.exs_idmodel}}</div>
											  <div class="form_label"><label for="{{form.exs_idcolor.name}}">{{form.exs_idcolor.label}}</label></div><div class="form_widget">{{form.exs_idcolor}}</div>
						</div><hr>
						<div class="form_row"><div class="form_label"><label for="{{form.exs_tpoprod.name}}">{{form.exs_tpoprod.label}}</label></div><div class="form_widget">{{form.exs_tpoprod}}</div>
											  <div class="form_label"><label for="{{form.exs_idunida.name}}">{{form.exs_idunida.label}}</label></div><div class="form_widget">{{form.exs_idunida}}</div>
											  <div class="form_label align_tex_right">{{form.exs_statreg.label}}</div> <div class="form_widget">{{form.exs_statreg}}</div>
											  </div>
							<table id="tabla_talla">
							</table>
							<table border="0">
						<tr><td class="form_label width_020">{{form.exs_feching.label}}</td> <td class="form_widget">{{form.exs_feching}}</td> <td colspan="2"><h2 CLASS="align_tex_center">P  R  E  C  I  O  S</h2></td> <td class="form_widget">{{form.exs_imgprod}}</td></tr>
						<tr><td class="form_label width_020">{{form.exs_fechegr.label}}</td> <td class="form_widget">{{form.exs_fechegr}}</td> <td colspan="2"></td><td rowspan="6" class="form_label">{{form.exs_imgprod.label}}</td> </tr>
						<tr><td class="form_label width_020">{{form.exs_fechinv.label}}</td> <td class="form_widget">{{form.exs_fechinv}}</td> <td class="form_label">{{form.exs_distrib.label}}</td><td class="form_widget">{{form.exs_distrib}}</td></tr>
						<tr><td class="form_label width_020">{{form.exs_costant.label}}</td> <td class="form_widget">{{form.exs_costant}}</td> <td class="form_label">{{form.exs_mayoris.label}}</td><td class="form_widget">{{form.exs_mayoris}}</td></tr>
						<tr><td class="form_label width_020">{{form.exs_dispant.label}}</td> <td class="form_widget">{{form.exs_dispant}}</td> <td class="form_label">{{form.exs_detalls.label}}</td><td class="form_widget">{{form.exs_detalls}}</td></tr>
						<tr><td class="form_label width_020">{{form.exs_costact.label}}</td> <td class="form_widget">{{form.exs_costact}}</td> <td class="form_label">{{form.exs_publico.label}}</td><td class="form_widget">{{form.exs_publico}}</td></tr>
						<tr><td class="form_label width_020">{{form.exs_cosprom.label}}</td> <td class="form_widget">{{form.exs_cosprom}}</td> <td class="form_label">{{form.exs_special.label}}</td><td class="form_widget">{{form.exs_special}}</td></tr>

							</table>
						<br><br>
						<div ><button class="icon-database form_submit" type="submit">  Guardar  </button></div>
						<br>
					</div>
				</form>
			</div>
		{% endblock context%}

{% block js %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	{% comment %}
		<script type="text/javascript">

			$(function(){
				var select_modelo = $('#id_exs_idmodel')
				select_modelo.change(function(e){
					console.log(this.value);
					var id_modelo = this.value;
					var url = "/AppInvent/TablaTalla/" + id_modelo;
					var jqxhr = $.ajax(url)
						.success(function(tabla_str) {
							$('#tabla_talla').html(tabla_str)
						})
				})
			})
		</script>
	{% endcomment %}
{% endblock js %}
