{% extends 'base/base_print.html' %}{% load inventarios_filters %}

{% block title %} Tickets para Productos {% endblock title %}

{% block context %}

    {% if forms.error %}
    <div class="form_errors" role="alert">
        {{ form.error }}
    </div>
    {% endif %}
    {% for field in form %}
        {% for error in field.errors %}
            <strong>{{ field.label }}</strong>: {{ error }}<br>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <strong>{{ error }}</strong>
    {% endfor %}
    <div class="print_content">
        <table class="print_item_cont" border="0">
                {% if object.saldoxtalla %}
                    {% for talla, saldo_talla in object|por_tallas:'tex_actua' %}
                        {% for _ in saldo_talla|por_saldo %}
                            {% cycle "<tr>" "" %}
                                <td class="print_item"><br>
                                    &nbsp;&nbsp;{{ object.exs_abrevia }}<br>
                                    &nbsp;&nbsp;Talla.: {{ talla }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;Cód.aux: {{ object.exs_costact }}
                                    &nbsp;&nbsp; <svg class="barcode"
  jsbarcode-format="EAN13"
  jsbarcode-height="40"
  jsbarcode-fontsize="14"
  jsbarcode-value="{{ object.exs_product }}"
  jsbarcode-textmargin="0">
</svg> &nbsp;
                                </td>
                            {% cycle "" "</tr>" %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}

        </table>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/barcodes/JsBarcode.ean-upc.min.js"></script>

    <script type="text/javascript">
        JsBarcode(".barcode").init();
    </script>
{% endblock context %}
