{% extends 'base/base_inventarios.html' %}

{% block title %} Graba Modelos {% endblock title %}</title>

			{% block context%}
			<div class="crea_content">
				<h3 class="crea_proceso">Inventarios:Modelos</h3>
				<a class="icon-reply crea_boton" href="{% url 'inventarios:mod_panel' %}">Volver</a>

			</div>
			<div>
				<form method="POST" enctype="multipart">{% csrf_token %}
					<div class="form_content">
						<div class="form_titulo"><h1>Graba Modelos</h1></div>
						<div class="form_esc">
							<a class="icon-cancel" href="{% url 'inventarios:mod_panel' %}"></a>
						</div>
						{% if forms.error %}
							<div class="form_errors" role="alert">
								{{ form.error }}
							</div>
						{% endif %}
						<div class="form_row"><div class="form_label"><label for="{{form.mod_idmarca.name}}">{{form.mod_idmarca.label}}</label></div><div>{{form.mod_idmarca}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.mod_idmodel.name}}">{{form.mod_idmodel.label}}</label></div><div>{{form.mod_idmodel}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.mod_detalle.name}}">{{form.mod_detalle.label}}</label></div><div>{{form.mod_detalle}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.mod_abrevia.name}}">{{form.mod_abrevia.label}}</label></div><div>{{form.mod_abrevia}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.mod_tabtall.name}}">{{form.mod_tabtall.label}}</label></div><div>{{form.mod_tabtall}}</div></div>
						<div class="form_row"><div class="form_label"><label for="{{form.mod_statreg.name}}">{{form.mod_statreg.label}}</label></div><div>{{form.mod_statreg}}</div></div>
						<br><br>
						<div ><button class="icon-database form_submit" type="submit">  Guardar  </button></div>
						<br>
					</div>
				</form>
			</div>
		{% endblock context%}