{% extends 'base/base_inventarios.html' %}

{% block title %} Consutal  Marcas {% endblock title %}</title>

			{% block context%}
			<div class="crea_content">
				<h3 class="crea_proceso">inventarios: Marcas</h3>
				<a class="icon-reply crea_boton" href="{% url 'inventarios:mrk_panel' %}">Volver</a>

			</div>
			<div>
				<div>
					<div class="form_content">
							
						<div class="form_titulo"><h1>Visualiza  Marcas</h1></div>
						<div class="form_esc">
							<a class="icon-cancel" href="{% url 'inventarios:mrk_panel' %}"></a>
						</div>
						<div class="form_row"><div class="form_label">Código 	  </div><div class="form_widget">{{ object.mrk_idmarca }}</div></div>
						<div class="form_row"><div class="form_label">Detalle     </div><div class="form_widget">{{ object.mrk_detalle }}</div></div>
						<div class="form_row"><div class="form_label">Abreviatura </div><div class="form_widget">{{ object.mrk_abrevia }}</div></div>
						<div class="form_row"><div class="form_label">Indicador   </div><div class="form_widget">{{ object.mrk_indicad }}</div></div>
						<div class="form_row"><div class="form_label">Status      </div><div class="form_widget">{{ object.mrk_statreg }}</div></div>
						<br><br>
						<div ><a class="icon-reply crea_boton" href="{% url 'inventarios:mrk_panel' %}">  Ok   </a></div>
						<br>
					</div>
				</div>
			</div>
		{% endblock context%}