			<div>
				<nav class="nav">
					<ul class="menu">
						<li class="menus-link"><a class="boton-xx" href="{% url 'inventarios:exi_panel' %}">Existencias</a></li>	
						<li class="menus-link"><a class="boton-xx" href="{% url 'inventarios:div_panel' %}">Divisiones</a></li>
						<li class="menus-link"><a class="boton-xx" href="{% url 'inventarios:mrk_panel' %}">Marcas</a></li>
						<li class="menus-link"><a class="boton-xx" href="{% url 'inventarios:mod_panel' %}">Modelos</a></li>
						<li class="menus-link"><a class="boton-xx" href="{% url 'inventarios:col_panel' %}">Colores</a></li>
						<li class="menus-link"><a class="boton-xx" href="{% url 'inventarios:tll_panel' %}">Tallas</a></li>	
					</ul>
				</nav>
			</div>