<table border="0" >
 	<tr color="#:000066">
 		<td class="head_tab"><div class=""><label for="">Tab. de Talla</label></div></td>
 		<td class="form_widget head_tab">{{ object.mod_tabtall.get_shortcode }} </td>
		<td class="columns_tab">{{ object.mod_tabtall.jgo_medid01 | default:'-'}} </td>
		<td class="columns_tab">{{ object.mod_tabtall.jgo_medid02 | default:'-'}} </td>
		<td class="columns_tab">{{ object.mod_tabtall.jgo_medid03 | default:'-'}} </td>
		<td class="columns_tab">{{ object.mod_tabtall.jgo_medid04 | default:'-'}} </td>
		<td class="columns_tab">{{ object.mod_tabtall.jgo_medid05 | default:'-'}} </td>
		<td class="columns_tab">{{ object.mod_tabtall.jgo_medid06 | default:'-'}} </td>
		<td class="columns_tab">{{ object.mod_tabtall.jgo_medid07 | default:'-'}} </td>
		<td class="columns_tab">{{ object.mod_tabtall.jgo_medid08 | default:'-'}} </td>
		<td class="columns_tab">{{ object.mod_tabtall.jgo_medid09 | default:'-'}} </td>
		<td class="columns_tab">{{ object.mod_tabtall.jgo_medid10 | default:'-'}} </td>
		<td class="columns_tab">{{ object.mod_tabtall.jgo_medid11 | default:'-'}} </td>
		<td class="columns_tab">{{ object.mod_tabtall.jgo_medid12 | default:'-'}} </td>
		<td class="columns_tab">{{ object.mod_tabtall.jgo_medid13 | default:'-'}} </td>

		<td class="columns_tab">TOTALES</td>
 	</tr>
 	<tr color="#:000066">
	 	<td class="head_tab" colspan="2"><div class="form_label"><label for="{{saldoxtalla_form.exs_saldinc.name}}">Saldo.inicial</label></div></td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_inici01 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_inici02 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_inici03 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_inici04 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_inici05 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_inici06 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_inici07 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_inici08 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_inici09 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_inici10 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_inici11 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_inici12 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_inici13 }} </td>
		<td class="columns_tab"><div class="form_widget">{{saldoxtalla_form.exs_saldinc}}</div></td>
 	</tr>
 	<tr color="#:000066">

	 	<td class="head_tab"  colspan="2"><div class="form_label"><label for="{{saldoxtalla_form.exs_ingreso.name}}">Ingresos</label></div></td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_ingre01 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_ingre02 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_ingre03 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_ingre04 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_ingre05 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_ingre06 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_ingre07 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_ingre08 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_ingre09 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_ingre10 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_ingre11 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_ingre12 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_ingre13 }} </td>
		<td class="columns_tab"><div class="form_widget">{{saldoxtalla_form.exs_ingreso}}</div></div></td>
 	</tr>
 	<tr color="#:000066">
	 	<td class="head_tab" colspan="2"><div class="form_label"><label for="{{saldoxtalla_form.exs_egresos.name}}">Egresos</label></div></td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_egres01 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_egres02 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_egres03 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_egres04 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_egres05 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_egres06 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_egres07 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_egres08 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_egres09 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_egres10 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_egres11 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_egres12 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_egres13 }} </td>
		<td class="columns_tab"><div class="form_widget">{{saldoxtalla_form.exs_egresos}}</div></td>
 	</tr>
 	<tr color="#:000066">
	 	<td class="head_tab" colspan="2"><div class="form_label"><label for="{{saldoxtalla_form.exs_saldact.name}}">Saldo.Actual</label></div></td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_actua01 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_actua02 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_actua03 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_actua04 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_actua05 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_actua06 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_actua07 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_actua08 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_actua09 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_actua10 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_actua11 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_actua12 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_actua13 }} </td>
		<td class="columns_tab"><div class="form_widget">{{saldoxtalla_form.exs_saldact}}</div></td>
 	</tr>
 	<tr color="#:000066">
	 	<td class="head_tab" colspan="2"><div class="form_label"><label for="{{saldoxtalla_form.exs_comprom.name}}">S.Comprometido</label></div></td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_compr01 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_compr02 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_compr03 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_compr04 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_compr05 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_compr06 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_compr07 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_compr08 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_compr09 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_compr10 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_compr11 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_compr12 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_compr13 }} </td>
		<td class="columns_tab"><div class="form_widget">{{saldoxtalla_form.exs_comprom}}</div></td>
 	</tr>
 	<tr color="#:000066">
	 	<td class="head_tab" colspan="2"><div class="form_label"><label for="{{saldoxtalla_form.exs_xconfir.name}}">Sldo.x/confirmar</label></div></td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_xconf01 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_xconf02 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_xconf03 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_xconf04 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_xconf05 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_xconf06 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_xconf07 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_xconf08 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_xconf09 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_xconf10 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_xconf11 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_xconf12 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_xconf13 }} </td>
		<td class="columns_tab"><div class="form_widget">{{saldoxtalla_form.exs_xconfir}}</div></td>
 	</tr>
 	<tr color="#:000066">
	 	<td class="head_tab" colspan="2"><div class="form_label"><label for="{{saldoxtalla_form.exs_dsponib.name}}">Saldo.disponible</label></div></td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_dispo01 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_dispo02 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_dispo03 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_dispo04 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_dispo05 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_dispo06 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_dispo07 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_dispo08 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_dispo09 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_dispo10 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_dispo11 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_dispo12 }} </td>
		<td class="columns_tab">{{ saldoxtalla_form.tex_dispo13 }} </td>
		<td class="columns_tab"><div class="form_widget">{{saldoxtalla_form.exs_dsponib}}</div></td>
 	</tr>
</table>
