{% extends 'base/base_inventarios.html' %}

{% block title %} Panel de Tallas {% endblock title %}</title>

{% block context %}

			<div class="crea_content">
				<h3 class="crea_proceso">Inventarios:Tallas</h3>
				<a class="icon-database crea_boton" href="{% url 'inventarios:tll_new' %}">Crear nuevo</a>

			</div>
			<div>
				<table border="1" >
					<thead>
					 	<tr color="#:000066">
							<th class="head_tab">Linea</th>
							<th class="head_tab">Tabla</th>
					 		<th class="head_tab">Tall.01</th>
					 		<th class="head_tab">Tall.02</th>
					 		<th class="head_tab">Tall.03</th>
					 		<th class="head_tab">Tall.04</th>
					 		<th class="head_tab">Tall.05</th>
					 		<th class="head_tab">Tall.06</th>
					 		<th class="head_tab">Tall.07</th>
					 		<th class="head_tab">Tall.08</th>
					 		<th class="head_tab">Tall.09</th>
					 		<th class="head_tab">Tall.10</th>
					 		<th class="head_tab">Tall.11</th>
					 		<th class="head_tab">Tall.12</th>
					 		<th class="head_tab">Tall.13</th>
					 		<th class="head_tab" colspan="3">Opción</th>
					 	</tr>
					</thead>
					<tbody border="0">
					 	{% if object_list %}
					 	{% for var_tllfield in object_list %}
					 	<tr>
							<td class="columns_tab_tall">{{ var_tllfield.jgo_divisio }} </td>
							<td class="columns_tab_tall">{{ var_tllfield.jgo_idtalla }} </td>
							<td class="columns_tab_tall">{{ var_tllfield.jgo_medid01 }} </td>
							<td class="columns_tab_tall">{{ var_tllfield.jgo_medid02 }} </td>
							<td class="columns_tab_tall">{{ var_tllfield.jgo_medid03 }} </td>
							<td class="columns_tab_tall">{{ var_tllfield.jgo_medid04 }} </td>
							<td class="columns_tab_tall">{{ var_tllfield.jgo_medid05 }} </td>
							<td class="columns_tab_tall">{{ var_tllfield.jgo_medid06 }} </td>
							<td class="columns_tab_tall">{{ var_tllfield.jgo_medid07 }} </td>
							<td class="columns_tab_tall">{{ var_tllfield.jgo_medid08 }} </td>
							<td class="columns_tab_tall">{{ var_tllfield.jgo_medid09 }} </td>
							<td class="columns_tab_tall">{{ var_tllfield.jgo_medid10 }} </td>
							<td class="columns_tab_tall">{{ var_tllfield.jgo_medid11 }} </td>
							<td class="columns_tab_tall">{{ var_tllfield.jgo_medid12 }} </td>
							<td class="columns_tab_tall">{{ var_tllfield.jgo_medid13 }} </td>
							<td class="columns_tab"><a class="icon-eye botones"   href="{% url 'inventarios:tll_view'  var_tllfield.pk %}"></a></td>
							<td class="columns_tab"><a class="icon-edit botones"  href="{% url 'inventarios:tll_edit'  var_tllfield.pk %}"></a></td>
							<td class="columns_tab"><a class="icon-trash botones" href="#"></a></td>
						</tr>
						{% endfor %}
						{% else %}
						<h4> No hay registros enTallas </h4>
						{% endif %}
						<br/>
					</tbody>
				</table>
				<div class="page_content">
					<ul class="pager_botons">
						<li>
							{% if page_obj.has_previous %}
							<a class="icon-left-open pager_prev" href="?page={{page_obj.previous_page_number}}">Previous</a>
							{% endif %}
						</li>
						<li>
							{% if page_obj.has_next %}
							<a class="pager_next" href="?page={{page_obj.next_page_number}}">Next <span class="icon-right-open"></span></a>
							{% endif %}
						</li>
					</ul>
				</div>
			</div>
{% endblock context %}
